<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="DemoAndroidApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:extractNativeLibs="true"
        android:label="@string/app_name">

        <activity
            android:name="nz.mega.android.bindingsample.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="nz.mega.android.bindingsample.NavigationActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>
