# Documentation generator
doc/_build
doc/api
doc/lib
doc/sphinx_api
doc/Doxyfile
doc/example/lsmega

# Editor and IDE stuff
*.user
*~
.vs
*.vscode
*.autosave

# clangd index
.cache

# Building stuff
build-*Debug
build-*Release
/third_party/crashlytics*h
*.toml
