/SDK.log
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lo
*.pyc

#Compiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/tests/test_unit
/tests/test_integration
/tests/test_integration/*
!/tests/test_integration/test-data/
/tests/tool_purge_account
examples/megacli
examples/linux/megafuse

# Generated
/include/config.h
/include/mega/config.h

# Autotool stuff
.deps
/Makefile
/include/Makefile
Makefile.in
aclocal.m4
autom4te.cache
/include/mega/config.h.in
configure
depcomp
*.swp
install-sh
libtool
ltmain.sh
missing
.libs
stamp-h1
.dirstamp
libmega.pc
*.db
.ycm_extra_conf.py
test-driver
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
compile
clean
config.guess
config.log
config.status
config.sub
py-compile
/sdk_build

# Documentation generator
doc/_build
doc/api
doc/lib
doc/sphinx_api
doc/Doxyfile
doc/example/lsmega

# Editor and IDE stuff
*.user
*~
.project
.cproject
.settings
.vs
*.vscode
*~
Debug
Release
/build-x??-*-mega*/
/contrib/QtCreator/build-*
/contrib/build-MEGAsdk-Desktop-*
/contrib/cmake/cmake-build-*
/contrib/build-cmake-Desktop-*
/contrib/cmake/.idea
/contrib/cmake/build
/contrib/cmake/build3rdParty/build
megaclient_statecache*

# clangd index
.cache

# Building stuff
build-*Debug
build-*Release

# Mega SDK runtime
*.db-journal

/third_party/Makefile
/third_party/3rdparty
/third_party/crashlytics*h
