1 VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Google Inc."
            VALUE "FileDescription",  "PDFium (compiled by github.com/bblanchon)"
            VALUE "InternalName",     "pdfium"
            VALUE "OriginalFilename", "pdfium.dll"
            VALUE "ProductName",      "pdfium"
            VALUE "LegalCopyright",   "Copyright 2018 PDFium Authors. All rights reserved."
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
