#all sdk_devs can approve MRs that change anything in the repo...

* @SDK/sdk_devs


# ... except MRs relative to bindings, which needs approval by the corresponding App's team

/bindings/ios/ @mobile/iOS
/bindings/java/ @mobile/Android
/bindings/qt/ @desktop
/src/gfx/GfxProcCG.mm @mobile/iOS
/src/osx/osxutils.mm @mobile/iOS @desktop
/Package.swift @mobile/iOS
/examples/SwiftUI @mobile/iOS

# Changes to Jenkinsfiles need approval by sdk_devops
/jenkinsfile/ @SDK/sdk_devops
