#all sdk_devs can approve MRs that change anything in the repo...

* @SDK/sdk_devs


# ... except MRs relative to bindings, which needs approval by the corresponding App's team

/bindings/ios/ @mobile/iOS
/bindings/java/ @mobile/Android
/bindings/qt/ @desktop
